body {
    background-color: #ffffff;
    font-family: 'Assistant', sans-serif;
    color: #071c4d;
}

// navbar
.navbar-brand {
    img {
        max-height: 40px;
    }

    h4 {
        padding: 0;
    }

}

// button navbar right
.btn-navbar-right {
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -33px !important;

    height: 70px;
    border-radius: 0;
}

// button login
.btn-login {
    background-color: #071c4d;
    color: #ffffff;

    &:hover {
        background-color: #1e3771;
        color: #ffffff;
    }
}


// ubar warna tulisan pada navbar
.navbar-light {
    .navbar-nav {
        .nav-link{
            color: #071c4d;

            &.active{
                font-weight: bold;
                color: #071c4d !important;
            }
        }
    }
}


// header
header {
    padding: 180px 0 160px;
    // margin-top: -70px;
    // background-image: url('../images/header.jpg');
    // background-size: cover;

    h1, p {
        color: #071c4d;
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

    .btn-get-started {
        background-color: #F27A30;
        color: #ffffff;

        &:hover {
            background-color: #E26D26;
            color: #ffffff;
        }
    }
}

// statistic
.section-stats{
    margin-top: -50px;

    .stats-detail {
        // margin-top: 15px;
        background-color: #ffffff;
        padding-left: 40px;
    }

    h2 {
        margin-top: 18px;
        font-size: 30px;
        margin-bottom: 0;
    }

    p {
        font-size: 16px;
        font-weight: lighter;
    }
}

// wisata popular
.section-popular {
    min-height: 540px;
    margin-top: -50px;
    margin-bottom: -230px;
    background-color: #081B40;

    .section-popular-heading {
        margin-top: 150px;

        h2, p {
            color: #ffffff;
        }

        h2 {
            font-family: 'Playfair', serif;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }
}

.section-popular-content{
    .section-popular-travel {
        .berita-item {
            .card-travel {
                min-height: 380px;
                background-color: #081B40;
                color: #081B40;
                background-size: cover;
                margin-bottom: 5px;
                border-radius: 10px;
            }

            .travel-country {
                margin-top: 20px;
                font-size: 18px;
                color: #ffffff;
            }

            .travel-location {
                font-size: 26px;
                color: #ffffff;
            }

            .travel-button {
                margin-bottom: 20px;
                .btn-travel-details {
                    background-color: #E26D26;
                    color: #ffffff;

                    &:hover {
                        background-color: #F27A30;
                        color: #ffffff;
                    }
                }
            }

        }

    }

    .btn-get-started {
        background-color: #F27A30;
        color: #ffffff;

        &:hover {
            background-color: #E26D26;
            color: #ffffff;
        }
    }
}

.section-networks {
    background-color: #ffffff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }

    .logo-partner {
        padding: 0;
        margin-top: 30px;
    }
}


.section-testimonial-heading,
.section-guru-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 18px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;


    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;
        max-height: 910px;
    }

    .testimonial-content {
        min-height: 380px;

        img {
            border-radius: 50%;
            max-width: 150px !important;
        }
    }

    h3 {
        font-size: 22px;
    }

    .testimonial {
        font-weight: 200;
        font-size: 26px;
        color: #6e6e6e;
        min-height: 140px;
    }

    .trip-to {
        font-weight: normal;
        font-size: 22px;
        color: #6e6e6e;
    }

    hr {
        margin-left: -20px;
        margin-right: -20px;
    }

    .btn-get-started {
        background-color: #F27A30;
        color: #ffffff;

        &:hover {
            background-color: #E26D26;
            color: #ffffff;
        }
    }

    .btn-need-help {
        background-color: #f2f2f2;
        color: #c3c3c3;

        &:hover {
            background-color: #fafafa;
            color: #c3c3c3;
        }
    }
}

// details
.section-details-header {
    min-height: 310px;
    background-color: #e4e6e8;
    margin-top: -70px;
}

.section-details-content{
    margin-top: -210px;
    min-height: 100vh;

    .breadcrumb {
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }

    .breadcrumb-item {
        &.active {
            font-weight: bold;
            color: #071c4d;
        }
    }


    .card-details {
        padding: 50px;
        border-radius: 11px;

        h1 {
            font-size: 26px;
        }

        h2 {
            font-size: 20px;
        }

        p {
            font-size: 18px;
            color: #818181;
        }

        h3 {
            font-weight: 300;
            font-size: 14px;
            color: #071c4d;
        }

        .table-responsive {
            display: table;
        }

        .trip-informations {
            th {
                font-weight: 300;
                font-size: 18px;
                color: #071c4d;
            }

            td {
                font-weight: 300;
                font-size: 18px;
                color: #B1B1B1;
            }

            .text-blue {
                color: #071c4d;
                font-weight: bold;
            }

            .text-orange {
                color: #FF9E53;
                font-weight: bold;
            }
        }

        .payment-instructions {
            font-weight: 300;
            font-size: 14px;
            color: #b1b1b1;
        }

        .bank {
            .bank-item {
                margin-bottom: 30px;
                .bank-image {
                    width: 45px;
                    height: 45px;
                    float: left;
                }

                .description {
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;

                    h3 {
                        font-size: 18px;
                        color: #071c4d;
                        margin-bottom: 0;
                    }

                    p {
                        font-weight: normal;
                        font-size: 16px;
                        color: #071c4d;
                        margin-bottom: 0;
                    }

                }
            }


        }



        .disclaimer {
            font-weight: 300;
            font-size: 14px;
            color: #B1B1B1;
        }

        .gj-datepicker {
            .datepicker{
                border-right: 0;
            }

            .input-group-append {
                .btn {
                    padding-right: 30px;
                }
            }
        }

        .btn-add-now {
            background-color: #071c4d;
            color: #ffffff;

            &:hover {
                background-color: #183886;
                color: #ffffff;
            }
        }
    }

    .card-right {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;
    }

    .features {
        margin-top: 20px;

        h3 {
            font-size: 18px;
            color: #071c4d;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }

        .description {
            margin-left: 10px;
            overflow: hidden;
            float: left;
        }

        .feature-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }

    .gallery {
        .xzoom-container {
            display: block;

            .xzoom {
                // width: 100%;
                box-shadow: none;
                margin-bottom: 10px;
            }

            .xactive {
                border: 6px solid #1ABC9D;
                box-shadow: none;
            }
        }

        .card-gallery {
            img {
                max-height: 240px;

            }
        }
    }


    .members {
        .member-image {
            width: 40px;
            height: 40px;
        }
    }

    .join-container {
        margin-top: -16px;
    }

    .btn-join-now {
        background-color: #ff9e53;
        color: #ffffff;
        border-radius: 0;

        &:hover {
            background-color: #ffb57c;
            color: #ffffff;
        }
    }

}



.section-success {
    height: 90vh;
    h1 {
        font-weight: 600;
        font-size: 26px;
        color: #071c4d;
    }

    p {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
    }

    .btn-home-page {
        border-radius: 4px;
        background-color: #071c4d;
        color: #ffffff;

        &:hover {
            background-color: #2a488e;
            color: #ffffff;
        }
    }
}



.section-guru-content {
    margin-top: -300px;
    padding-bottom: 50px;


    .card-guru {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;
        min-height: 140px;
    }

    .guru-content {
        img {
            border-radius: 50%;
            max-width: 150px !important;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    h3 {
        font-size: 22px;
    }

    .guru {
        font-weight: 200;
        font-size: 26px;
        color: #6e6e6e;
        max-height: 140px;
    }

    .mapel {
        font-weight: normal;
        font-size: 22px;
        color: #6e6e6e;
    }

    hr {
        margin-left: -20px;
        margin-right: -20px;
    }

    .btn-get-started {
        background-color: #F27A30;
        color: #ffffff;

        &:hover {
            background-color: #E26D26;
            color: #ffffff;
        }
    }
}








.section-footer {
    a {
        color: #071c4d;
    }

    .footer-left {
        h5 {
            font-weight: bold;
        }
    }
}
